<div class="contenitoreFooter">
    <ul class="social">

        <li><a href="https://www.instagram.com/labfortraining.it" target="_blank" class="fa fa-instagram"></a></li>
        <li><a href="https://www.facebook.com/labfortraining" target="_blank" class="fa fa-facebook"></a></li>
        <li><a href="https://twitter.com/DanielMicheli9" target="_blank" class="fa fa-twitter"></a></li>
    </ul>
    <p>I contenuti e le piattaforme disponibili possono variare in base alla zona geografica.<br>
        © 2023 LABTV e le sue società collegate. Tutti i diritti sono riservati.</p>
</div>