<div class="contenitoreFooter">
    <ul class="social">

        <li><a href="https://www.instagram.com/labfortraining.it" target="_blank"><i class="fab fa-instagram"></i>
            </a></li>
        <li><a href="https://www.facebook.com/labfortraining" target="_blank"><i class="fab fa-facebook"></i>
            </a></li>
        <li><a href="https://twitter.com/DanielMicheli9" target="_blank"><i class="fa-brands fa-x-twitter"
                    style="color: #ffffff;"></i>
            </a></li>
        <li><a href="https://youtu.be/xj_y6azQFxk" target="_blank"><i class="fa-brands fa-youtube"
                    style="color: #ffffff;"></i>
            </a></li>
    </ul>
    <p>I contenuti e le piattaforme disponibili possono variare in base alla zona geografica.<br>
        © 2023 LABTV e le sue società collegate. Tutti i diritti sono riservati.</p>
</div>